@model WebBanGiay.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron py-4 text-center">
    <h1>Tạo Thể Loại</h1>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Thể Loại</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Tên Thể Loại</label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryImage" class="control-label">Hình Ảnh</label>
                        <div class="custom-file">
                            <input asp-for="CategoryImage" type="file" class="custom-file-input" id="productImage" onchange="updateFileName(this)">
                            <label class="custom-file-label" for="categoryImage" id="fileNameLabel">Chọn file ảnh</label>
                        </div>
                        <span asp-validation-for="CategoryImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryOrder" class="control-label">Thứ Tự</label>
                        <input asp-for="CategoryOrder" class="form-control" />
                        <span asp-validation-for="CategoryOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" value="Tạo" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary ml-2">Quay Lại Danh Sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            var label = document.getElementById('fileNameLabel');
            label.textContent = fileName;
        }
    </script>
}
