@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Identity
@if (User.Identity.IsAuthenticated)
{
    <script>
        // Kiểm tra xem có thông báo thành công trong TempData không
        var successMessage = "@TempData["SuccessMessage"]";

        if (successMessage) {
            alert("Đăng nhập thành công");
        }
    </script>
    
    <div class="navbar-nav ml-auto py-0">
        <button class="user-btn"><i class="fa-solid fa-user"></i></button>
    </div>
    <div class="wrap-info">
        <h4>THÔNG TIN TÀI KHOẢN</h4>
        <hr>
        <h5 class="name-info">@User.Identity.Name</h5>
      
        <ul class="list-info">
            <li class="item-info"><a href="#">Tài khoản của tôi</a></li>
            <li class="item-info"><a href="/Account/Logout">Đăng xuất</a></li>
            @if(User.IsInRole("admin") == true)
            {
                <li class="item-info"><a href="/Admin">Admin</a></li>
            }
            
        </ul>
    </div>
}
else
{
    <div class="navbar-nav ml-auto py-0">
        <a href="/Account/Login" class="nav-item nav-link">Đăng nhập</a>
        <a href="/Account/Register" class="nav-item nav-link">Đăng ký</a>
    </div>
}

